html {
   font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    background: #15a0fd69;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
        
   .clock {
        width: 400px;
        height: 400px;
        border: 5px solid #8d8f8e;
        border-radius: 50%;
        position: relative;
        background: #fffbf0;

        @for $i from 1 through 60 {
            .time-step-#{$i} { 
                position: absolute;
                box-sizing: border-box;
                width: 1px;
                height: 200px;
                left: 50%;
                transform: rotate($i * 6deg);
                transform-origin: bottom left;
                &::before {
                    content: '';
                    position: absolute;
                    margin-top: 4px;
                    height: 5px;
                    @if $i%15 == 0 {
                        height: 10px;
                    } 
                    border: 1px solid black;                    
                }
                @if $i%15 == 0 {
                    &::after {
                        content: '#{$i/5}';
                        font-size: 1.4rem;
                        font-family: 'Molengo', sans-serif;
                        margin-top: 15px;
                        position: absolute;
                        transform: translateX(-50%) rotate(-1 * $i * 6deg);
                        @if $i == 45 {
                            left: 3px;
                        }
                        @if $i == 15 {
                            left: -3px;
                        }
                    }
                }
            }
        }
        .company-name {
            position: absolute;
            left: 200px;
            top: 140px; 
            width: 137px;
            text-align: center;
            transform: translateX(-50%);
            font-size: 0.8rem;
            font-family: 'Molengo', sans-serif;
            letter-spacing: 0.8rem;
        }
        .seconds {
            box-sizing: border-box;
            width: 1px;
            height: 180px;
            position: absolute;
            top: 21px;
            left: 200px;
            transform-origin: bottom;
            // animation: seconds 60s linear infinite;
            border-left: 1px solid #e67e22;
            border-radius: 1px;
        }
        .hours {
            box-sizing: border-box;
            width: 1px;
            height: 100px;
            position: absolute;
            top: 101px;
            left: 200px;
            transform-origin: bottom left;
            // animation: minutes 3600s linear infinite;
            border-left: 1px solid #8e44ad;
            border-radius: 1px;
        }

        .minutes {
            box-sizing: border-box;
            width: 1px; 
            height: 130px;
            position: absolute;
            top: 71px;
            left: 200px;
            transform-origin: bottom left;
            // animation: minutes 86400s linear infinite;
            border-left: 1px solid #e74c3c;
            border-radius: 1px;
        }
        .center {
            background: #2c3e50;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            margin: 0;
            position: absolute;
            left: 200px;
            top: 200px;
            transform: translateX(-50%) translateY(-50%)    
        }
        
        .logo {
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: 270px;
            width: 0;
            height: 0;
            border: 25px solid transparent;
            border-bottom: 20px solid black;
            position: relative;
            top: -25px;
            &:after {
                content: '';
                position: absolute;
                left: -25px;
                top: 20px;
                width: 0;
                height: 0;
                border: 25px solid transparent;
                border-top: 20px solid black;
            }
        }
        .logo-internal {
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: -40px;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-bottom: 15px solid #fffbf0;
            position: relative;
            top: -20px;
            &:before {
                content: '';
                position: absolute;
                left: -20px;
                top: 15px;
                width: 0;
                height: 0;
                border: 20px solid transparent;
                border-top: 15px solid #fffbf0;
            }
            &:after {
                content: 'N';
                font-size: 1.8rem;
                font-weight: bold;
                position: absolute;
                transform: translateX(-50%);
            }
        }
    
    }
}

@keyframes seconds {
    to {
        transform: rotate(360deg)
    }
}

@keyframes minutes {
    to {
        transform: rotate(360deg)
    }
}